@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght,YTLC@0,6..12,200..1000,499;1,6..12,200..1000,499&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fdfefe;
}

p,span {
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}